<table class="table table-borderless text-center align-middle">
  <thead>
    <tr class="table-danger table-group-divider h1 ">
      <th class="fw-semibold">Welcome to The Photo Editor!</th>
    </tr>
  </thead>

  <tbody>
    <tr class="table-borderless" style="height: 350px;">
      <td>
        <%= render 'form', title: 'Upload new image' %>
      </td>
    </tr>
  </tbody>
</table>
