/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 .btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-lightpink);
  --bs-btn-bg: var(--bd-lightpink);
  --bs-btn-border-color: var(--bd-lightpink);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-lightpink, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-lightpink-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-lightpink, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-lightpink, 20%)};
}
