<% if @image.image? %>
  <% @image.image.thumb%>
  <%= image_tag(@image.image.thumb.url, alt: 'Image') %>
<% else %>
  <div class="align-middle" >
    <%= render 'web_pages/form', title: 'Image was deleted. Upload new one.' %>
  </div>
<% end %>
