<table class="table table-borderless text-center">
  <thead>
    <tr class="table-danger table-group-divider h1">
      <th class="fw-semibold" colspan="2">Photo Editor</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <tr class="mh-100">
      <td style="width: 150px">
        <div class="border border-dark p-2 mb-2">Apply</div>
        <div class="border border-dark p-2 mb-2">Cut</div>
        <div class="border border-dark p-2 mb-2">Rotate</div>
        <div class="border border-dark p-2 mb-2">Resize</div>
        <div class="border border-dark p-2 mb-2">Upload</div>
        <div class="border border-dark p-2 mb-2">Download</div>
      </th>
      <td>
          <%= render 'image' %>
      </td>
    </tr>


  </tbody>
</table>
